<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h2 style='color: #000;font-size: 30px;'>Messages:</h2>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>
    <h2 style='color: #000;font-size: 30px;'>Commandes:</h2>
    <form action="" method="POST" name="chat">
      Chat :
      <input type="text" class="message" placeholder="Message"/>
      <input type="submit"/>
    </form>
    <br>
    <form action="" method="POST" name="cryo">
      Compte à rebours cryo:
      <input type="text" class="nb_seconds" placeholder="temps en secondes"/>
      <input type="submit" value="Lancer"/>
    </form>
    <br>
    <form action="" method="POST" name="cmd">
      Arreter le PC joueur (memo:  sudo shutdown -h now)
      <input type="text" class="command" value="sudo shutdown -h now"/>
      <input type="submit" value="STOP !"/>
    </form>

    <form action="" method="POST" name="power">
      Changer l'énergie:
      <input type="text" class="qty_power" placeholder="100"/>
      <input type="submit" value="valider"/>
    </form>

    <form action="" method="POST" name="slots">
       Emplacements:
Nom <input type="text" class="slot_name" placeholder="LAX-1"/>
Status <input type="text" class="action" placeholder="endommagé, détruit, occupé, disponible"/>


    <input type="submit" value="Appliquer"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port, {reconnection: true});

      socket.on( 'connect', function() {
        socket.emit( 'client_connected', {
          data: 'User Connected'
        } )
      } )

        var chat = $( "form[name='chat']" ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : 'IA a dit >',
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )

        var cryo = $( "form[name='cryo']" ).on( 'submit', function( e ) {
          e.preventDefault()
          let nb_seconds = $( 'input.nb_seconds' ).val()
          socket.emit( 'cryo', {
            nb_seconds : nb_seconds
          } )
          $( 'input.nb_seconds' ).val( '' ).focus()
        } )

        var cmd = $( "form[name='cmd']" ).on( 'submit', function( e ) {
          e.preventDefault()
          let command = $( 'input.command' ).val()
          socket.emit( 'cmd', {
            command : command
          } )
          $( 'input.command' ).val( '' ).focus()
        } )

        var power = $( "form[name='power']" ).on( 'submit', function( e ) {
          e.preventDefault()
          let power_qty  = $( 'input.qty_power' ).val()
          socket.emit( 'power', {
            power_qty : power_qty
          } )
          $( 'input.command' ).val( '' ).focus()
        } )

        var slots = $( "form[name='slots']" ).on( 'submit', function( e ) {
          e.preventDefault()
          let action  = $( 'input.action' ).val()
          let slot_name  = $( 'input.slot_name' ).val()
          socket.emit( 'slots', {
            action : action,
            slot_name : slot_name
          } )
          $( 'input.command' ).val( '' ).focus()
        } )


      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
  </html>
